/* Talwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'Inter Regular';
  src: url('../assets/fonts/InterTight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url('../assets/fonts/InterTight-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('../assets/fonts/InterTight-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albert SemiBold';
  src: url('../assets/fonts/AlbertSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Albert Bold';
  src: url('../assets/fonts/AlbertSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ScrollBar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a6a6a6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffdacc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fcb1a7;
}
